
.section
    position: relative
    width: 100%
    margin-top: 20px
    filter: brightness(1.2)
    .container
        position: relative
        width: 80%
        height: 100%
        margin-left: 50%
        transform: translate(-50%)
        background-image: url("./images/bg.png")
        background-position: center center
        background-repeat: no-repeat
        background-size: cover
        background-color: #1f1f1f
        overflow: hidden
.image-div-full-screen
    width: 55vw
    height: 35vw
    img
        width: 100%
        height: 100%
        max-height: 100%
.section-title
    position: absolute
    right: 10vw
    top: 3vw
    color: rgb(168, 168, 168)
    font-size: 2rem
.flex-images
    margin-top: 5px
    display: grid
    width: 55vw
    // configure height when u know how many images to show
    height: 10vw
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr))
    grid-template-rows: 1fr
    gap: 5px

@media ( max-width:1300px  )
    .section-title
        right: 6vw
        font-size: 1.5rem
@media ( max-width:700px  )
    .section
        .container
            background-image: url("./images/bg_m.jpg")
            width: 100% !important
    .image-div-full-screen
        margin-top: 10px
        margin-left: 50%
        transform: translate(-50%)
        width: 90%
        height: 70vw
    .flex-images
        width: 90%
        margin-left: 50%
        transform: translate(-50%)
    .section-title
        position: relative
        font-size: 1.2rem
        margin-top: 20px
        margin-bottom: 30px
        width: 112%
        text-align: center
    // .flex-images
    //     height: 150px
